/* Theme */
body {
  background-color: #97AEF2;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: black;
}

.nav {
  display: inline;
}
/* End of theme */

/* Beginning of tripinfo.html: */
/* div for each car block */
.car {
  padding: 5px;
  width: 350px;
  margin: 0px auto;
}

/* Car image */
.container {
  margin: 5px;
  min-width: 330px;
  min-height: 190px;
  background-image: url(/images/car.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* Cuts off car image if it overflows */
div {
  overflow: hidden;
}

/* List of passenger names */
.names {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 25px;
}

/* Trip name */
.tripinfo {
  padding-left: 25px;
}

/* Driver name */
#drivername {
  margin: 0px;
}

/* Edit trip button */
#edittrip {
  width: 100%;
  display: inline-block;
}
/* End of tripinfo.html */

/* Forms */
input {
  margin-top: 5px;
}
/* End of forms */
