body {
  background-color: #97AEF2;
  color: white;
  text-shadow: 0px 0px 1px black;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.car {
  padding: 5px;
  float: left;
}

.container {
  margin: 5px;
  min-width: 330px;
  min-height: 190px;
  background-image: url(/images/car.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.names {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
}

#drivername {
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

#edittrip {
  width: 100%;
  display: inline-block;
}

input {
  margin-top: 5px;
}

div.login {
  margin-bottom: 20px;
}

button.right {
  float: right;
}

/*button.left {
  float: left;
}*/

div {
  overflow: hidden;
}
