<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Trip</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  </head>

<!-- Enables creator to edit trip name and trip password -->
  <form action="/edittrip" method="post">
    <strong><h1>Edit Trip</h1></strong>
    <h3>Trip Name</h3>
    <input type="text" name ="tripname" value={{trip.tripname}} >
    <h3>Trip Password</h3>
    <input type="text" name ="trippw" value={{trip.trippassword}}>
  </form>

<!-- Shows a table of current people participating in the road trip -->
  <h2>List of People</h2>
  <form class="Student" method="post" action="">
    <body>
      <table>
        <tr>
          <th>Name</th>
          <th>Delete</th>
        </tr>
        <tr>
          <td>
          </td>
        </tr>
      </table>
  </form>
  <body>

<!-- Enables creator to add or remove someone from the list -->
  <p>Add a person</p>
  <input type="text" name="name"  value="">
<!-- Quickly edit destination -->

<!-- Saves work -->
  </body>
</html>
