<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit User Info</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <header>
      <div class="appname">
        <strong><h1>Pear</h1></strong>
      </div>

      <!-- Navigation Bar -->
      <div class="nav">
        <ul>
          <li><a href="/mainpage">Home</a></li>
          <li><a href="/newtrip">Create</a></li>
          <li><a href="/jointrip">Join</a></li>
          <li class="active"><a href="/userinfo">User</a></li>
        </ul>
      </div>
    </header>

    <!-- Content -->
    <section class="content">
      <h2>Edit User Info</h2>
      <form action="/userinfo" method="post">
        <h4><input name="name" placeholder="Name" value="{{ userinfo.name }}"></h4>
        <input type="hidden" name="key" value="{{userinfo.key.urlsafe()}}">
        <hr>

        <!-- list of questions music, food, personality -->
        <strong><h3>Preference Quiz</h3></strong>
        <h4>What is your personality type?</h4>
          <label><input type="radio" name="personality" value="1">Introvert</label><br>
          <label><input type="radio" name="personality" value="2">Extrovert</label><br>
          <label><input type="radio" name="personality" value="3">Ambivert</label><br>
          <label><input type="radio" name="personality" value="4">Any</label><br>

        <h4>What is your music preference?</h4>
          <label><input type="radio" name="music" value="1">Pop</label><br>
          <label><input type="radio" name="music" value="2">EDM</label><br>
          <label><input type="radio" name="music" value="3">Rap</label><br>
          <label><input type="radio" name="music" value="4">Any</label><br>

        <h4>What is your food preference?</h4>
          <label><input type="radio" name="food" value="1">Korean BBQ</label><br>
          <label><input type="radio" name="food" value="2">American BBQ</label><br>
          <label><input type="radio" name="food" value="3">I'm a vegan</label><br>
          <label><input type="radio" name="food" value="4">Any</label><br>
        <br><br>
        <input type = "submit" value ="Update User Info">
      </form>
    </section>
  </body>
</html>
