<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Trip</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Bungee+Hairline' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <header>
      <div class="appname">
        <strong><h1>Pear</h1></strong>
      </div>

      <!-- Navigation Bar -->
      <div class="nav">
        <ul>
          <li><a href="/mainpage">Home</a></li>
          <li><a href="/newtrip">Create</a></li>
          <li><a href="/jointrip">Join</a></li>
          <li><a href="/userinfo">User</a></li>
        </ul>
      </div>
    </header>

    <!-- Content -->
    <section class="content">
      <!-- Enables creator to edit trip name and trip password -->
      <form action="{{ trip.url() }}" method="post">
        <h2>Edit Trip</h2>
        <h3>
          Trip Name:
          <input type="text" name ="tripname" value={{trip.tripname}}>
        </h3>
        <h3>
          Trip Password:
          <input type="text" name ="trippw" value={{trip.trippassword}}>
        </h3>
        <button type="submit" value="Submit">Update Trip</button>
      </form>

      <!-- Shows a table of current people participating in the road trip -->
      <h2>List of People</h2>
      <form class="Student" method="post" action="">
        <div class="table">
          <table>
            <tr>
              <th>Name</th> <!-- Need to change this so it uses { userinfo.name } -->
              <th>Delete</th> <!-- Need to change this to a button?? also with userkey -->
            </tr>
            <tr> <!-- What is this??? -->
              <td>
              </td>
            </tr>
          </table>
        </div>
      </form>

      <!-- Enables creator to add or remove someone from the list -->
        <p>Add a person</p>
        <input type="text" name="name"  value="">
      <!-- Quickly edit destination -->

      <!-- Saves work -->
    </section>
  </body>
</html>
