<!DOCTYPE html>
 <style>
  .button {
    padding: 8px 16px;
    display: inline-block;
    text-decoration: none;
    border-radius: none;
  }

  body.home {
    background: url(images/travelling4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }

</style>

<html>
  <head>
    <title>Log Into Pear</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <img src="images/pearlogo.png" id="pearlogo"/>
  </head>

  <body class="home">
    <div>
      <br><br><br><br><br><br><br><br>
      <strong><h1>Pear</h1></strong>
      <!-- Sign in link -->
      Pairing friends' preferances to optimize your commute since 2016.
      <br><br>
      {% if not isloggedin: %}
        <button><a href="{{login_url}}" class="button">Sign In</a></button>
      <br><br>
      {% endif %}
      <button><a href="/newaccount" class="button">Create Account</a></button>
    </div>
  </body>
</html>
