<!DOCTYPE html>
<html>
  <head>
    <title>App Name Here</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>

  <body>
    <h1>App Name Here</h1>
    <form method="post" action ="/mainpage">
      <input type="text" name="username" placeholder="Username"/><br>
      <input type="password" name="pw" placeholder="Password"/><br>
      <input type="submit" value="Sign In">
    </form>
    <form method="post" action ="/newaccount">
      <input type="submit" value="Sign Up">
    </form>
  </body>
</html>
