<!DOCTYPE html>
<html>
  <head>
    <title>Log Into Pear</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Bungee+Hairline' rel='stylesheet' type='text/css'>
    <img src="images/whitepear.png" id="pearlogo"/>
  </head>

  <body class="home">
    <div>
      <br><br><br><br><br><br><br><br>
      <strong><h1 id="appnamehome">Pear</h1></strong>
      <p>Pearing friends' preferences to optimize your commute since 2016.</p>
      {% if not isloggedin: %}
        <button><a href="{{login_url}}" class="button">Sign In</a></button>
      <br><br>
      {% endif %}
      <button><a href="/newaccount" class="button">Create Account</a></button>
    </div>
  </body>
</html>
