<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Join A Trip</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <strong><h1>Pear</h1></strong>
    <h2>Join a Trip</h2>
    <form method="post" action ="/mainpage">
        <input type="text" name="tripname" placeholder="Name of the trip"/><br>
        <input type="password" name="trippw" placeholder="Enter the trip password"/><br>
        <p>Are you a driver?</p>
        <input type="radio" name="driver" value="yes">Yes<br>
        <input type="radio" name="driver" value="no">No<br>
        <p>If yes, how many seats? (including yourself)</p>
        <input type="number" name="seats"/><br>
        <input type="hidden" name="action" value="join"/><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
