<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Join A Trip</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>

  <body>
    <h1>Join a Trip</h1>
    <form method="post" action ="/tripinfo">
        <input type="text" name="tripname" placeholder="Name of the trip"/><br>
        <input type="password" name="trippw" placeholder="Enter the trip password"/><br>
        <p>Are you a driver?</p>
        <input type="radio" name="driver" value="yes">Yes<br>
        <input type="radio" name="driver" value="no">No<br>
        <input type="hidden" name="action" value="join"/>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
