<!DOCTYPE html>
<html>
  <head>
    <title>App Name Here</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>

  <body>
    <button class="right"><a href="/userinfo">User Info</a></button>
    <button class="left"><a href="/newtrip">Create a Trip</a></button><br>
    <button class="left"><a href="/jointrip">Join a Trip</a></button>
    <div>
      <ul>
        <h2>Your trips</h2>
        {% for trip in trips %}
          <li><a href="{{ trip.url() }}">{{ trip.name }}</a></li>
        {% endfor %}
        <!-- Delete this later -->
        <li><a href="/tripinfo">Trip Name</a></li>
      </ul>
    </div>
  </body>
</html>
