<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create An Account</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>


  <strong><h1>Create an Account<h1></strong>
    <form action="/mainpage" method="post">
      Name
      <input name="name" placeholder="Name"><br><br>
      Email
      <input name="email" placeholder="Email"><br><br>
      Username
      <input name="username" placeholder="Username"><br><br>
      Password
      <input name="password" placeholder="Password"><br><br>
      General Info
      <input name="genInfo" placeholder="General Info"><br><br>
    </form>

      <h2> Preferance Quiz </h2>
      <form action="/mainpage" method="post">
        <!-- list of questions music, food, personality -->
        <h3>What is your personality type?</h3>
          <input type = "radio" name = "personality" value= "1">Introvert<br>
          <input type = "radio" name = "personality" value= "2">Extrovert<br>
          <input type = "radio" name = "personality" value= "3">Ambiovert<br>
        <h3>What is your music preferance?</h3>
          <input type = "radio" name = "music" value= "1">Country<br>
          <input type = "radio" name = "music" value= "2">EDM<br>
          <input type = "radio" name = "music" value= "3">Rap<br>
        <h3>What is your food preferance?</h3>
          <input type = "radio" name = "food" value= "1">Korean BBQ<br>
          <input type = "radio" name = "food" value= "2">American BBQ<br>
          <input type = "radio" name = "food" value= "3">I'm a vegan<br>

          <br><br>
          <input type = "submit" value ="submit">
        </form>
    <body>
    </body>

</html>
