<!DOCTYPE html>
<html>
  <head>
    <title>New Trip</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>

  <body>
    <h1>Create a New Trip</h1>
    <form method="post" action ="/mainpage">
        <input type="text" name="tripname" placeholder="Name of the trip"/><br>
        <input type="password" name="trippw" placeholder="Password"/><br>
        <input type="text" name="destination" placeholder="Destination"/><br>
        <input type="hidden" name="action" value="create"/>
        <p>Are you a driver?</p>
        <input type="radio" name="driver" value="yes">Yes<br>
        <input type="radio" name="driver" value="no">No<br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
