<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Info</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <header>
      <div class="appname">
        <strong><h1>Pear</h1></strong>
      </div>

      <!-- Navigation Bar -->
      <div class="nav">
        <ul>
          <li><a href="/mainpage">Home</a></li>
          <li><a href="/newtrip">Create</a></li>
          <li><a href="/jointrip">Join</a></li>
          <li><a href="/userinfo">User</a></li>
        </ul>
      </div>
    </header>

    <!-- Content -->
    <section class="content">
      <p>
        {{user}}
        <a href="{{ logout_url }}">Sign out</a>
      </p>
    </section>
  </body>
</html>
